webapps/mock-bs/src/main/resources/xsd/pprb.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="SrvGetOperatorInfoByUserRq">
		<xs:annotation>
			<xs:documentation>Получение информации об операторе по пользователю системы. Запрос</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HeaderInfo" type="HeaderInfoType"/>
				<xs:element name="SrvGetOperatorInfoByUserRqMessage">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="userLogin" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SrvGetOperatorInfoByUserRs">
		<xs:annotation>
			<xs:documentation>Получение информации об операторе по пользователю системы. Ответ</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HeaderInfo" type="HeaderInfoType"/>
				<xs:element name="SrvGetOperatorInfoByUserRsMessage">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OperatorInfoItem">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="workPlace_UId" type="UUID32">
											<xs:annotation>
												<xs:documentation>Уникальный номер УРМ/Кассы	</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="operatorFullName" type="xs:string"/>
										<xs:element name="subbranchInfoItem">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="TBCode" type="xs:string">
														<xs:annotation>
															<xs:documentation>Код ТБ оператора</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="GOSBCode" type="xs:string" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Код ГОСБ оператора</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="OSBCode" type="xs:string" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Код ОСБ оператора</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="VSPCode" type="xs:string" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Код ВСП оператора</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="subbranchCode" type="xs:string">
														<xs:annotation>
															<xs:documentation>Код подразделения оператора</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="subbranchLevel" type="xs:integer">
														<xs:annotation>
															<xs:documentation>Уровень подразделения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="INN" type="INNType">
														<xs:annotation>
															<xs:documentation>ИНН	</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="BIC" type="BICType">
														<xs:annotation>
															<xs:documentation>БИК</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="bankName" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="firstName" type="xs:string"/>
										<xs:element name="lastName" type="xs:string"/>
										<xs:element name="patronymic" type="xs:string" minOccurs="0"/>
										<xs:element name="email" type="xs:string"/>
										<xs:element name="phoneNumMobile" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Мобильный телефон	</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="phoneNumWork" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Рабочий телефон	</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SrvGetUserOperationsByRoleRq">
		<xs:annotation>
			<xs:documentation>Получение информаици об операциях главного меню. Запрос</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HeaderInfo" type="HeaderInfoType"/>
				<xs:element name="SrvGetUserOperationsByRoleRqMessage">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="role" type="xs:string" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Роль пользователя 10001 - "Сотрудник по обслуживанияю корпоративных клиентов", 10002 - "Кассир"	</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SrvGetUserOperationsByRoleRs">
		<xs:annotation>
			<xs:documentation>Получение информаици об операциях главного меню. Ответ</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HeaderInfo" type="HeaderInfoType"/>
				<xs:element name="SrvGetUserOperationsByRoleRsMessage">
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="OperationTypeItem">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="operationTypeId" type="UUID32">
											<xs:annotation>
												<xs:documentation>Идентификатор типа операции</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="operationType" type="OperTypeLabel">
											<xs:annotation>
												<xs:documentation>Код типа операции</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="operationTypeName" type="xs:string">
											<xs:annotation>
												<xs:documentation>Наименование типа операции </xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="operationCatId" type="OperCatType">
											<xs:annotation>
												<xs:documentation>Id категории операции</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="operationCatName">
											<xs:annotation>
												<xs:documentation>Наименование категории операции</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Приходная"/>
													<xs:enumeration value="Расходная"/>
													<xs:enumeration value="Не применимо"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="visibleFlg" type="xs:boolean">
											<xs:annotation>
												<xs:documentation>Флаг видимости операции</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="enabledFlg" type="xs:boolean">
											<xs:annotation>
												<xs:documentation>Флаг возможности совершения операции</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SrvGet20202NumRq">
		<xs:annotation>
			<xs:documentation>Получение номера счета 20202 "Касса кредитных организаций". Запрос</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HeaderInfo" type="HeaderInfoType"/>
				<xs:element name="SrvGet20202NumRqMessage">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="workPlace_UId" type="UUID32">
								<xs:annotation>
									<xs:documentation>Уникальный номер УРМ/Кассы	</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SrvGet20202NumRs">
		<xs:annotation>
			<xs:documentation>Получение номера счета 20202 "Касса кредитных организаций". Ответ</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HeaderInfo" type="HeaderInfoType"/>
				<xs:element name="SrvGet20202NumRsMessage">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="account20202Num" type="AccountNumType">
								<xs:annotation>
									<xs:documentation>Счет № 20202 "Касса кредитных организаций"	</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SrvCashDepAnmntListByAccountIdRq">
		<xs:annotation>
			<xs:documentation>Получение списка ОВН из МС по номеру счета. Запрос</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HeaderInfo" type="HeaderInfoType"/>
				<xs:element name="SrvCashDepAnmntListByAccountIdRqMessage">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="accountId" type="AccountNumType">
								<xs:annotation>
									<xs:documentation>Уникальный номер УРМ/Кассы	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="OVNStatus" type="OVNStatusType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Статус ОВН
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SrvCashDepAnmntListByAccountIdRs">
		<xs:annotation>
			<xs:documentation>Получение списка ОВН из МС по номеру счета. Ответ</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HeaderInfo" type="HeaderInfoType"/>
				<xs:element name="SrvCashDepAnmntListByAccountIdRsMessage">
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="CashDepAnmntList">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="OVN_UId" type="UUID32">
											<xs:annotation>
												<xs:documentation>Уникальный номер ОВН	</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="OVNNum" type="xs:integer">
											<xs:annotation>
												<xs:documentation>Номер ОВН</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="OVNStatus" type="OVNStatusType">
											<xs:annotation>
												<xs:documentation>Статус ОВН	</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="amount" type="xs:decimal">
											<xs:annotation>
												<xs:documentation>Сумма</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="createdDttm" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Дата создания ОВН</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="INN" type="INNType">
											<xs:annotation>
												<xs:documentation>ИНН	</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="accountId" type="AccountNumType">
											<xs:annotation>
												<xs:documentation>Номер счета	</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="legalEntityShortName" type="xs:string">
											<xs:annotation>
												<xs:documentation>ЮЛ-получатель	</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="repFIO" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ФИО представителя клиента в ОВН	</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SrvGetCashDepAnmntItemRq">
		<xs:annotation>
			<xs:documentation>Получение экземпляра предоформленного ОВН в МС по уникальному идентификатору ОВН. Запрос</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HeaderInfo" type="HeaderInfoType"/>
				<xs:element name="SrvGetCashDepAnmntItemRqMessage">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OVN_UId" type="UUID32">
								<xs:annotation>
									<xs:documentation>Уникальный номер ОВН	</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SrvGetCashDepAnmntItemRs">
		<xs:annotation>
			<xs:documentation>Получение экземпляра предоформленного ОВН в МС по уникальному идентификатору ОВН. Ответ</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HeaderInfo" type="HeaderInfoType"/>
				<xs:element name="SrvGetCashDepAnmntItemRsMessage">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OVN_UId" type="UUID32">
								<xs:annotation>
									<xs:documentation>Уникальный номер ОВН	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="OVNNum" type="xs:integer" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Номер ОВН</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="OVNStatus" type="OVNStatusType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Статус ОВН	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="repFIO" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>ФИО представителя клиента в ОВН	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="legalEntityShortName" type="xs:string">
								<xs:annotation>
									<xs:documentation>ЮЛ-получатель	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="amount" type="xs:decimal">
								<xs:annotation>
									<xs:documentation>Сумма</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="createdDttm" type="xs:dateTime">
								<xs:annotation>
									<xs:documentation>Дата создания ОВН в МС</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="INN" type="INNType">
								<xs:annotation>
									<xs:documentation>ИНН	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="KPP" type="KPPType">
								<xs:annotation>
									<xs:documentation>КПП</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="accountId" type="AccountNumType">
								<xs:annotation>
									<xs:documentation>Номер счета	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="senderAccountId" type="AccountNumType">
								<xs:annotation>
									<xs:documentation>Номер счета дебет	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="senderBank" type="xs:string">
								<xs:annotation>
									<xs:documentation>Банк-отправитель	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="senderBankBIC" type="BICType">
								<xs:annotation>
									<xs:documentation>БИК банка-отправителя	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="recipientBank" type="xs:string">
								<xs:annotation>
									<xs:documentation>Банк-получатель	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="recipientBankBIC" type="BICType">
								<xs:annotation>
									<xs:documentation>БИК банка-получателя	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="source" type="xs:string">
								<xs:annotation>
									<xs:documentation>Источник поступления</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="isClientTypeFK" type="xs:boolean">
								<xs:annotation>
									<xs:documentation>Признак типа клиента ФК/ОФК/УОВФ	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="fDestLEName" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Наименование организации в ФК/ОФК/УОВФ	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="personalAccountId" type="AccountNumType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Лицевой счет	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="currencyType">
								<xs:annotation>
									<xs:documentation>Код валюты	</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="([A-Z()\s]){2,10}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="cashSymbols">
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:element name="cashSymbolItem">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="cashSymbol" type="CashSymbolType">
														<xs:annotation>
															<xs:documentation>Кассовый   символ</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="cashSymbolAmount" type="xs:decimal">
														<xs:annotation>
															<xs:documentation>Сумма,   соответствующая кассовому символу</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SrvCreateCashDepAnmntItemRq">
		<xs:annotation>
			<xs:documentation>Создание ОВН на основании выолненой операции. Запрос</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HeaderInfo" type="HeaderInfoType"/>
				<xs:element name="SrvCreateCashDepAnmntItemRqMessage">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OVNNum" type="xs:integer">
								<xs:annotation>
									<xs:documentation>Номер ОВН</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="OVNStatus" type="OVNStatusType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Статус ОВН	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="repFIO" type="xs:string">
								<xs:annotation>
									<xs:documentation>ФИО представителя клиента в ОВН	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="legalEntityShortName" type="xs:string">
								<xs:annotation>
									<xs:documentation>ЮЛ-получатель	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="amount" type="xs:decimal">
								<xs:annotation>
									<xs:documentation>Сумма, руб</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="amountInWords" type="xs:string">
								<xs:annotation>
									<xs:documentation>Сумма прописью</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="amountCop" type="CopType">
								<xs:annotation>
									<xs:documentation>Сумма, коп.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="createdDttm" type="xs:dateTime">
								<xs:annotation>
									<xs:documentation>Дата создания ОВН </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="operationDttm" type="xs:dateTime">
								<xs:annotation>
									<xs:documentation>Дата приема наличных денег от клиента</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="INN" type="INNType">
								<xs:annotation>
									<xs:documentation>ИНН	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="KPP" type="KPPType">
								<xs:annotation>
									<xs:documentation>КПП</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="accountId" type="AccountNumType">
								<xs:annotation>
									<xs:documentation>Номер счета	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="senderAccountId" type="AccountNumType">
								<xs:annotation>
									<xs:documentation>Номер счета дебет	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="senderBank" type="xs:string">
								<xs:annotation>
									<xs:documentation>Банк-отправитель	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="senderBankBIC" type="BICType">
								<xs:annotation>
									<xs:documentation>БИК банка-отправителя	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="recipientAccountId" type="AccountNumType">
								<xs:annotation>
									<xs:documentation>Номер счета кредит	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="recipientBank" type="xs:string">
								<xs:annotation>
									<xs:documentation>Банк-получатель	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="recipientBankBIC" type="BICType">
								<xs:annotation>
									<xs:documentation>БИК банка-получателя	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="source" type="xs:string">
								<xs:annotation>
									<xs:documentation>Источник поступления</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="isClientTypeFK" type="xs:boolean">
								<xs:annotation>
									<xs:documentation>Признак типа клиента ФК/ОФК/УОВФ	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="fDestLEName" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Наименование организации в ФК/ОФК/УОВФ	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="personalAccountId" type="AccountNumType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Лицевой счет	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="currencyType">
								<xs:annotation>
									<xs:documentation>Код валюты	</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="([A-Z()\s]){2,10}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="cashSymbols">
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:element name="cashSymbolItem">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="cashSymbol" type="CashSymbolType">
														<xs:annotation>
															<xs:documentation>Кассовый   символ</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="cashSymbolAmount" type="xs:decimal">
														<xs:annotation>
															<xs:documentation>Сумма,   соответствующая кассовому символу</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="accountantPosition" type="xs:string">
								<xs:annotation>
									<xs:documentation>Должность бухгалтерского работника</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="accountantFullName" type="xs:string">
								<xs:annotation>
									<xs:documentation>Фамилия и инициалы бухгалтерского работника</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="userPosition" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Должность кассового работника</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="userFullName" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation> Фамилия и инициалы кассового работника</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SrvCreateCashDepAnmntItemRs">
		<xs:annotation>
			<xs:documentation>Создание ОВН на основании выолненой операции. Ответ</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HeaderInfo" type="HeaderInfoType"/>
				<xs:element name="SrvCreateCashDepAnmntItemRsMessage">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="responseCode" type="xs:string">
								<xs:annotation>
									<xs:documentation>Код ответа</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="OVN_UId" type="UUID32" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Уникальный номер ОВН	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="OVNNum" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Номер ОВН</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:integer"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="OVNStatus" type="OVNStatusType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Статус ОВН	</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SrvUpdCashDepAnmntItemRq">
		<xs:annotation>
			<xs:documentation>Обновление ОВН на основании выолненой операции. Запрос</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HeaderInfo" type="HeaderInfoType"/>
				<xs:element name="SrvUpdCashDepAnmntItemRqMessage">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OVN_UId" type="UUID32">
								<xs:annotation>
									<xs:documentation>Уникальный номер ОВН	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="OVNNum" type="xs:integer" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Номер ОВН</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="OVNStatus" type="OVNStatusType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Статус ОВН	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="repFIO" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>ФИО представителя клиента в ОВН	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="legalEntityShortName" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>ЮЛ-получатель	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="amount" type="xs:decimal" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Сумма, руб</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="amountInWords" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Сумма прописью</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="amountCop" type="CopType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Сумма, коп.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="createdDttm" type="xs:dateTime" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Дата создания ОВН</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="operationDttm" type="xs:dateTime" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Дата приема наличных денег от клиента</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="INN" type="INNType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>ИНН	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="KPP" type="KPPType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>КПП</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="accountId" type="AccountNumType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Номер счета	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="senderAccountId" type="AccountNumType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Номер счета дебет	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="senderBank" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Банк-отправитель	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="senderBankBIC" type="BICType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>БИК банка-отправителя	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="recipientAccountId" type="AccountNumType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Номер счета кредит	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="recipientBank" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Банк-получатель	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="recipientBankBIC" type="BICType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>БИК банка-получателя	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="source" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Источник поступления</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="isClientTypeFK" type="xs:boolean" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Признак типа клиента ФК/ОФК/УОВФ	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="fDestLEName" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Наименование организации в ФК/ОФК/УОВФ	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="personalAccountId" type="AccountNumType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Лицевой счет	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="currencyType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Код валюты	</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="([A-Z()\s]){2,10}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="cashSymbols" minOccurs="0">
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:element name="cashSymbolItem">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="cashSymbol" type="CashSymbolType">
														<xs:annotation>
															<xs:documentation>Кассовый   символ</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="cashSymbolAmount" type="xs:decimal">
														<xs:annotation>
															<xs:documentation>Сумма,   соответствующая кассовому символу</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="accountantPosition" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Должность бухгалтерского работника</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="accountantFullName" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Фамилия и инициалы бухгалтерского работника</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="userPosition" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Должность кассового работника</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="userFullName" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation> Фамилия и инициалы кассового работника</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SrvUpdCashDepAnmntItemRs">
		<xs:annotation>
			<xs:documentation>Обновление ОВН на основании выолненой операции. Ответ</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HeaderInfo" type="HeaderInfoType"/>
				<xs:element name="SrvUpdCashDepAnmntItemRsMessage">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="responseCode" type="xs:string">
								<xs:annotation>
									<xs:documentation>Код ответа</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="OVN_UId" type="UUID32" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Уникальный номер ОВН	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="OVNNum" type="xs:integer" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Номер ОВН в рамках клиента	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="OVNStatus" type="OVNStatusType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Статус ОВН	</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SrvSearchRepRq">
		<xs:annotation>
			<xs:documentation>Поиск карточки представителя корпоративного клиента. Запрос</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HeaderInfo" type="HeaderInfoType"/>
				<xs:element name="SrvSearchRepRqMessage">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="repID" type="UUID32" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Уникальный идентификатор представителя	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="INN" type="INNType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>ИНН	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="firstName" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Имя</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="lastName" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Фамилия</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="patronymic" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Отчество</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="phoneNumWork" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Рабочий телефон	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="phoneNumMobile" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Мобильный телефон	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="email" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Электронная почта</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="dateOfBirth" type="xs:date" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Дата рождения	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="sex" type="xs:boolean" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Пол</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="placeOfBirth" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Место рождения	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="identityDocumentType" type="IDDtype" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Тип ДУЛ	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="series" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Серия ДУЛ</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="([0-9]){1,10}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="number" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Номер ДУЛ	</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="([0-9]){1,20}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="issuedBy" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Кем выдан	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="issuedDate" type="xs:date" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Дата выдачи	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="legalEntityId" type="UUID32" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Идентификатор ЮЛ в мастер-системе	</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="legalEntityINN" type="INNType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>ИНН ЮЛ</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SrvSearchRepRs">
		<xs:annotation>
			<xs:documentation>Поиск карточки представителя корпоративного клиента. Ответ</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HeaderInfo" type="HeaderInfoType"/>
				<xs:element name="SrvSearchRepRsMessage">
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="Representative">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="repID" type="UUID32">
											<xs:annotation>
												<xs:documentation>Уникальный идентификатор представителя	</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="INN" type="INNType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ИНН	</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="firstName" type="xs:string">
											<xs:annotation>
												<xs:documentation>Имя</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="lastName" type="xs:string">
											<xs:annotation>
												<xs:documentation>Фамилия</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="patronymic" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Отчество</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="phoneNumWork" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Рабочий телефон	</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="phoneNumMobile" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Мобильный телефон	</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="email" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Электронная почта</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="address" type="xs:string" minOccurs="0"/>
										<xs:element name="postindex" type="xs:string" minOccurs="0"/>
										<xs:element name="dateOfBirth" type="xs:date">
											<xs:annotation>
												<xs:documentation>Дата рождения	</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="sex" type="xs:boolean">
											<xs:annotation>
												<xs:documentation>Пол</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="placeOfBirth" type="xs:string">
											<xs:annotation>
												<xs:documentation>Место рождения	</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="isResident" type="xs:boolean">
											<xs:annotation>
												<xs:documentation>Признак резидента</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="identityDocumentType" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Тип ДУЛ	</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="IDDtype">
														<xs:attribute name="series" use="required">
															<xs:annotation>
																<xs:documentation>Серия ДУЛ</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:pattern value="([0-9]){1,10}"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
														<xs:attribute name="number" use="required">
															<xs:annotation>
																<xs:documentation>Номер ДУЛ</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:pattern value="([0-9]){1,20}"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
														<xs:attribute name="issuedBy" type="xs:string">
															<xs:annotation>
																<xs:documentation>Кем выдан</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="issuedDate" type="xs:date">
															<xs:annotation>
																<xs:documentation>Дата выдачи</xs:documentation>
															</xs:annotation>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="LegalEntity">
											<xs:complexType>
												<xs:sequence minOccurs="0" maxOccurs="unbounded">
													<xs:element name="LegalEntityItem">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="legalEntityId" type="UUID32">
																	<xs:annotation>
																		<xs:documentation>Идентификатор ЮЛ в мастер-системе	</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="legalEntityShortName" type="xs:string">
																	<xs:annotation>
																		<xs:documentation>Сокращенное наименование ЮЛ	</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="legalEntityFullName" type="xs:string">
																	<xs:annotation>
																		<xs:documentation>Полное наименование ЮЛ	</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="INN" type="INNType">
																	<xs:annotation>
																		<xs:documentation>ИНН</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="OGRN" type="OGRNType">
																	<xs:annotation>
																		<xs:documentation>ОГРН</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="KPP" type="KPPType">
																	<xs:annotation>
																		<xs:documentation>КПП</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="legalAddress" type="xs:string">
																	<xs:annotation>
																		<xs:documentation>Юридический адрес	</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="factAddress" type="xs:string">
																	<xs:annotation>
																		<xs:documentation>Фактический адрес	</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="HeaderInfoType">
		<xs:annotation>
			<xs:documentation>Заголовок сообщений</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="rqUID" type="UUID32">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор запроса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rqTm" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Дата и время передачи запроса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="spName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Идентификатор системы, инициировавший запрос</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="systemId" type="xs:string">
				<xs:annotation>
					<xs:documentation>Идентификатор системы-получателя запроса</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SrvGetRepByCardRq">
		<xs:annotation>
			<xs:documentation>Получение карточки представителя корпоративного клиента по номеру карты. Запрос</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HeaderInfo" type="HeaderInfoType"/>
				<xs:element name="SrvSearchRepCardRqMessage">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="cardNumber" type="CardNumType">
								<xs:annotation>
									<xs:documentation>Номер карты</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SrvGetRepByCardRs">
		<xs:annotation>
			<xs:documentation>Получение карточки представителя корпоративного клиента по номеру карты. Ответ</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HeaderInfo" type="HeaderInfoType"/>
				<xs:element name="SrvSearchRepCardRsMessage">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Representative">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="repID" type="UUID32">
											<xs:annotation>
												<xs:documentation>Уникальный идентификатор представителя	</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="INN" type="INNType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ИНН	</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="firstName" type="xs:string">
											<xs:annotation>
												<xs:documentation>Имя</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="lastName" type="xs:string">
											<xs:annotation>
												<xs:documentation>Фамилия</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="patronymic" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Отчество</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="phoneNumWork" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Рабочий телефон	</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="phoneNumMobile" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Мобильный телефон	</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="email" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Электронная почта</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="address" type="xs:string" minOccurs="0"/>
										<xs:element name="postindex" type="xs:string" minOccurs="0"/>
										<xs:element name="dateOfBirth" type="xs:date">
											<xs:annotation>
												<xs:documentation>Дата рождения	</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="sex" type="xs:boolean">
											<xs:annotation>
												<xs:documentation>Пол</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="placeOfBirth" type="xs:string">
											<xs:annotation>
												<xs:documentation>Место рождения	</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="isResident" type="xs:boolean">
											<xs:annotation>
												<xs:documentation>Признак резидента</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="identityDocumentType" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Тип ДУЛ	</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="IDDtype">
														<xs:attribute name="series" use="required">
															<xs:annotation>
																<xs:documentation>Серия ДУЛ</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:pattern value="([0-9]){1,10}"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
														<xs:attribute name="number" use="required">
															<xs:annotation>
																<xs:documentation>Номер ДУЛ</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:pattern value="([0-9]){1,20}"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
														<xs:attribute name="issuedBy" type="xs:string">
															<xs:annotation>
																<xs:documentation>Кем выдан</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="issuedDate" type="xs:date">
															<xs:annotation>
																<xs:documentation>Дата выдачи</xs:documentation>
															</xs:annotation>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="LegalEntity">
											<xs:complexType>
												<xs:sequence minOccurs="0" maxOccurs="unbounded">
													<xs:element name="LegalEntityItem">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="legalEntityId" type="UUID32">
																	<xs:annotation>
																		<xs:documentation>Идентификатор ЮЛ в мастер-системе	</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="legalEntityShortName" type="xs:string">
																	<xs:annotation>
																		<xs:documentation>Сокращенное наименование ЮЛ	</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="legalEntityFullName" type="xs:string">
																	<xs:annotation>
																		<xs:documentation>Полное наименование ЮЛ	</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="INN" type="INNType">
																	<xs:annotation>
																		<xs:documentation>ИНН</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="OGRN" type="OGRNType">
																	<xs:annotation>
																		<xs:documentation>ОГРН</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="KPP" type="KPPType">
																	<xs:annotation>
																		<xs:documentation>КПП</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="legalAddress" type="xs:string">
																	<xs:annotation>
																		<xs:documentation>Юридический адрес	</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="factAddress" type="xs:string">
																	<xs:annotation>
																		<xs:documentation>Фактический адрес	</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="UUID32">
		<xs:annotation>
			<xs:documentation>UUID без разделителей. Набор из 32 символов [0-9], [a-f] или [A-F], без разделителей
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9a-fA-F]){32}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CardNumType">
		<xs:annotation>
			<xs:documentation>Номер карты без разделителей. Набор из 16 символов [0-9]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]){16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AccountNumType">
		<xs:annotation>
			<xs:documentation>Номер счета без разделителей. Набор из 20 символов [0-9]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="20"/>
			<xs:pattern value="[0-9]{20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="INNType">
		<xs:annotation>
			<xs:documentation>Номер ИНН. Набор символов [0-9], Min 10 Max 12</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="10"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="([0-9]){10,12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BICType">
		<xs:annotation>
			<xs:documentation>Номер БИК. Набор из 9 символов [0-9]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="([0-9]){9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OGRNType">
		<xs:annotation>
			<xs:documentation>Номер ОГРН. Набор символов [0-9], Min 13 Max 15</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="13"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="([0-9]){13,15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KPPType">
		<xs:annotation>
			<xs:documentation>Номер КПП. Набор из 9 символов [0-9]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaymentQueueType">
		<xs:annotation>
			<xs:documentation>Очередность платежа. Символы (римские цифры от I до V)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="I"/>
			<xs:enumeration value="II"/>
			<xs:enumeration value="III"/>
			<xs:enumeration value="IV"/>
			<xs:enumeration value="V"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PkgStatusType">
		<xs:annotation>
			<xs:documentation>Код статуса пакета: New,Packed, Completed</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="New"/>
			<xs:enumeration value="Pending"/>
			<xs:enumeration value="Completed"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PkgTaskStatusType">
		<xs:annotation>
			<xs:documentation>Код статуса задачи в пакете: Active, OnApproval, Declined, Approved, Forwarded</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Active"/>
			<xs:enumeration value="OnApproval"/>
			<xs:enumeration value="Declined"/>
			<xs:enumeration value="Approved"/>
			<xs:enumeration value="Forwarded"/>
			<xs:enumeration value="OnSecHandApproval"/>
			<xs:enumeration value="SecHandApproved"/>
			<xs:enumeration value="SecHandDeclined"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OperTypeLabel">
		<xs:annotation>
			<xs:documentation>Тип операции</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ToCardDeposit"/>
			<xs:enumeration value="FromCardWithdraw"/>
			<xs:enumeration value="ToAccountDepositRub"/>
			<xs:enumeration value="FromAccountWithdrawRub"/>
			<xs:enumeration value="CheckbookIssuing"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OVNStatusType">
		<xs:annotation>
			<xs:documentation>Статус ОВН: New, Pending, Completed, Deleted</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="New"/>
			<xs:enumeration value="Pending"/>
			<xs:enumeration value="Completed"/>
			<xs:enumeration value="Deleted"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IDDtype">
		<xs:annotation>
			<xs:documentation>Тип ДУЛ: passport, internpassport, militaryID, seamenId</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="passport"/>
			<xs:enumeration value="internpassport"/>
			<xs:enumeration value="militaryID"/>
			<xs:enumeration value="seamenId"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OperCatType">
		<xs:annotation>
			<xs:documentation>Категория операции 0 - расходная, 1 - приходная, 2 - не применимо</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:pattern value=""/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CashSymbolType">
		<xs:annotation>
			<xs:documentation>Кассовый символ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(0-9){2,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="SrvCashSymbolsListRq">
		<xs:annotation>
			<xs:documentation>Получение справочника кодов операций. Запрос</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HeaderInfo" type="HeaderInfoType"/>
				<xs:element name="SrvCashSymbolsListRqMessage">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="getList" type="xs:boolean">
								<xs:annotation>
									<xs:documentation>True = получить справочник</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="cashSymbol" type="CashSymbolType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Кассовый символ (получить описание по кассовому символу)</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SrvCashSymbolsListRs">
		<xs:annotation>
			<xs:documentation>Получение справочника кодов операций. Ответ</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HeaderInfo" type="HeaderInfoType"/>
				<xs:element name="SrvCashSymbolsListRsMessage">
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="cashSymbolItem">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="cashSymbol" type="CashSymbolType">
											<xs:annotation>
												<xs:documentation>Кассовый   символ</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="cashSymbolDesc" type="xs:string">
											<xs:annotation>
												<xs:documentation>Описание кассового символа</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="CopType">
		<xs:annotation>
			<xs:documentation>Сумма, коп.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minExclusive value="00"/>
			<xs:maxExclusive value="99"/>
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
